
.container
{
    color:blueviolet;
}

#root
{
    color:chartreuse;
}

div h1
{
 color :coral;
}
p , h1
{
 color :rgb(22, 161, 85);
}
































































































